.container ol li {
  font-size: 1.4em;
  color: white;
  margin-bottom: 10px;
}

.start {
  display: flex;
  justify-content: center;
  padding-top: 2em;
}

.start .btn {
  padding: 0.5em 2em;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  color: #ffffff;
  text-decoration: none;
  background-color: #4a90e2;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* transition: all 0.3s ease; */
}

.start .btn:hover {
  background-color: #357dbf;
}

#form {
  display: flex;
  justify-content: center;
  margin-top: 4em;
}

#form .userid {
  padding: 0.7em 2em;
  width: 50%;
  border: 2px solid #cecece;
  border-radius: 5px;
  font-size: 1.2em;
  outline: none;
  transition: border-color 0.3s ease;
}

#form .userid:focus {
  border-color: #4a90e2;
}
